@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 231 16% 17%;

    --primary: 232 100% 61%;
    --primary-foreground: 232 100% 98%;

    --accent: 231 100% 93%;
    --accent-foreground: 231 16% 17%;

    --border: 214.3 31.8% 91.4%;
    --input: 0 0% 92%;
    --ring: 232 100% 61%;

    --background-nav: 234 8% 23%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --border: 216 34% 17%;
    --input: 0 0% 10%;
    --ring: 215 20.2% 65.1%;

    --background-nav: 234 8% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background font-sans text-foreground antialiased;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
